.clickContainer {
    width: 100%;
    display: flex;
    margin: 30px 0px 15px 0px;
}

.clickOptionsContainer {
    width: 50%;
}

.clickOptions {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.clickList {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.addClick, .addingClick {
    width: 90%;
    border: 3px solid;
    border-color: var(--accent2);
    color: var(--accent2);
    border-radius: 10px;
    transition: all 100ms linear;
    padding: 10px 0px;
    text-align: center;
    background-color: inherit;
    opacity: 0.7;
    align-self: center;
    font-size: 0.7rem;
}

.addingClick {
    opacity: 1;
}

.addClick:hover, .addingClick:hover {
    border-color: var(--accentMain);
    color: var(--accentMain);
    scale: 1.02;
    opacity: 1;
    cursor: pointer;
}

.addingClick:hover {
    border-color: var(--accent2);
    color: var(--accent2);
}

.clickHeader {
    font-size: 1.1rem;
    margin: 10px 0px 20px;
    font-weight: normal;
}

.clickStartBtn, .clickStopBtn {
    margin: 0 auto;
    margin-top: auto;
    margin-bottom: 40px;
    border: 3px solid;
    border-color: var(--accent2);
    border-radius: 15px;
    padding: 15px;
    width: 80%;
    color: var(--accent2);
    transition: all 100ms linear;
    text-align: center;
    cursor: pointer;
    opacity: 0.7;
}
.clickStartBtn:hover, .clickStopBtn:hover {
    border-color: var(--accentMain);
    color: var(--accentMain);
    scale: 1.01;
    opacity: 1;
}

.clickStopBtn {
    border-color: #ff8080;
    color: #ff0000
}

.clickStopBtn:hover {
    border-color: #ff0000;
    color: #ff0000
}

.click {
    width: 90%;
    border: 2px solid;
    margin: 0 auto;
    margin-bottom: 10px;
    font-size: 0.7rem;
    border-radius: 10px;
    padding: 10px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.remove-btn {
    margin-left: auto;
    margin-right: 10px;
    border: none;
    background-color: inherit;
    transition: all 100ms linear;
}

.remove-btn:hover {
    scale: 1.1;
    cursor: pointer;
    color: var(--accentMain)
}

.clickType {
    margin-left: 10px;
    margin-right: 5px;
}

.clicksList {
    max-height: 300px;
    overflow: scroll;
    margin-bottom: 10px;
}
.clicksList::-webkit-scrollbar {
    display: none;
}

.xpos, .ypos {
    display: inline;
}
