.text {
    resize: none;
    outline: none;
    border-radius: 20px;
    border: 3px solid;
    opacity: 0.7;
    font-size: 1.1rem;
    padding: 15px 20px;
    margin: 30px 0px 15px 0px;
    font-family: 'QDcomicsans';
    background-color: inherit;
    color: inherit;
    transition: all 100ms linear;
}

.text:text {
    color: var(--accent2);
}

.text:hover {
    opacity: 1;
}

.text:focus {
    box-shadow: 0px 1px 2px 1px var(--accentMain);
    opacity: 1;
}

.text::placeholder {
    color: var(--accentMain);
    opacity: 0.5;
}

.textSettingsHeader {
    font-size: 1.1rem;
    font-weight: normal;
}

.textSettings {
    width: 100%;
    display: flex;
    flex-direction: row;
}


.textSettingsLeft, .textSettingsRight {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.textSettingsRight {
    width: 50%;
}

.checkbox-option, .checkbox-option-right {
    display: flex;
    align-items: center;
    gap: 5px;
    width: 100%;
}
.checkbox-option-right {
    justify-content: flex-end;
}

.repeat_times_input, .interval-ms-input, .onTextKey {
    width: 75px;
    border: 2px solid;
    border-color: var(--accentMain);
    border-radius: 5px;
    color: inherit;
    background-color: inherit;
    opacity: 0.5;
    transition: all 100ms linear;
}
.repeat_times_input:focus, .interval-ms-input:focus, .onTextKey:focus {
    outline: none;
    border-color: var(--accent2);
    opacity: 1;
}

.custom-checkbox {
  appearance: none;
  width: 20px;
  height: 20px;
  border: 2px solid;
  border-color: inherit;
  border-radius: 5px;
  display: inline-grid;
  place-content: center;
  cursor: pointer;
  color: var(--accentMain); /* Inherit text color from parent  */
}

.custom-checkbox::before {
  content: "";
  width: 10px;
  height: 10px;
  border-radius: 3px;
  transform: scale(0);
  transition: transform 0.15s ease-in-out;
  background-color: currentColor; /* color for inner dot */
}

.custom-checkbox:checked::before {
  transform: scale(1);
}

.textStartBtn, .textStopBtn {
    margin: 0 auto;
    margin-top: auto;
    margin-bottom: 40px;
    border: 3px solid;
    border-color: var(--accent2);
    border-radius: 15px;
    padding: 15px;
    width: 80%;
    color: var(--accent2);
    transition: all 100ms linear;
    text-align: center;
    opacity: 0.7;
}
.textStartBtn:hover, .textStopBtn:hover {
    border-color: var(--accentMain);
    color: var(--accentMain);
    scale: 1.01;
    cursor: pointer;
    opacity: 1;
}

.textStopBtn {
    border-color: #ff8080;
    color: #ff0000
}

.textStopBtn:hover {
    border-color: #ff0000;
    color: #ff0000
}
